/* Write the CSS for you answer here */

#container {
    position: relative;
    left: 0px;
    top: 0px;
    width: 700px;
    height: 541px;
}

#backgroundtree {
    position: absolute;
    left: 0px;
    top: 0px;
}

#redtree {
    position: absolute;
    left: 0px;
    top: 60px;
    width: 700px;
}

#blue {
    position: absolute;
    left: 90px;
    top: 200px;
}

#darkblue {
    position: absolute;
    left: 60px;
    top: 350px;
}

#red {
    position: absolute;
    left: 200px;
    top: 300px;
}

#green {
    position: absolute;
    left: 500px;
    top: 150px;
}

#orange {
    position: absolute;
    left: 550px;
    top: 300px;
}

#pink {
    position: absolute;
    left: 350px;
    top: 300px;
}

.decor:hover {
    width: 100px;
}
